<section id="PageTop">
    <ul>
        <h1>Hecho con <a class="link" href="https://code.visualstudio.com/">Visual Studio Code</a></h1>
        
        <p class="section-head">José Sebastián Pedrero Jiménez - A01703331</p>
        <button class ="hidden"><i onclick="changeStyle()" class="nes-mario"></i></button>
        <p class="section-head"><b>Contacto:</b></p>
        <ul class="nes-list is-disc">
            <li><b>Correos:</b> a01703331@tec.mx, sebastian.p.jimenez@gmail.com, adriftinvr.mkl@gmail.com</li>
            <li><b>Celular:</b> (+52) 442 613 9123</li>
        </ul>
    </ul>
</section>