<%- include('includes/header.ejs') %>
<%- include('includes/bootstrap.ejs') %>
<body>
    <div class="text-center">
        <h1 class="display-4">Log In</h1>
    </div>

    <% if(mssg != '') { %>
        <div class="container">
            <%= mssg %>
        </div>
    <% } %>

    <form action="/login" method="POST">
        <div class="container">
            <div class="input-group mb-3">
                <label for="username">Username: </label>
                <input name="username" id="username" class="input-group-text" type="text" placeholder="Username">
            </div>
            <div class="input-group mb-3">
                <label for="password">Password: </label>
                <input name="password" id="password" class="input-group-text" type="password" placeholder="Password">
            </div>
            <div class="text-center">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input class="btn btn-outline-primary" type="submit" value="Login">
                <a class="btn btn-outline-primary" href="/signup">Register</a>
            </div>
        </div>
    </form>
</body>